.box {
    display: flex;
    background-color: #ffffff;
    border-radius: 25px;
    height: 391px;
    width: 282px;
    height: 391px;
    position: relative;
    justify-content: center;
    align-items: center;

}

.box-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box-content .img{
    display: flex;
    margin: auto;
}

.box-content .title {
    color: #363636;
    width: 127.982px;
    text-align: center;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
}

.box-content .box-desc {
    color: #363636;
    width: 193.973px;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}