.courses {
    margin-top: 170px;
}

.courses .text-wrapper {
    color: #008bd8;
    font-family: 'Ubuntu', sans-serif;
    font-size: 64px;
    font-weight: 500;
    margin: auto;
    text-align: center;
    width: 840px;
}

.courses .courses-grid {
    margin: 100px 100px 0px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    row-gap: 56px;
}